<div
  class="flex fixed left-0 right-0 top-19 bg-gray-200 opacity-50 z-10 min-h-screen width-full"
  (click)="closeTaskModal()"
></div>
<form
  #taskForm="ngForm"
  (ngSubmit)="onSubmit(taskForm)"
  class="py-3 px-4 fixed top-21 left-0 right-0 z-15 w-full max-w-lg mx-auto bg-white rounded shadow-md"
>
  <div class="mb-4">
    <span class="block text-gray-700 font-bold mb-2 text-right">#Id</span>
  </div>
  <div class="mb-4">
    <label for="title" class="block text-gray-700 font-bold mb-2">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      class="w-full px-3 py-2 border rounded"
      [ngModel]="task?.title"
      (ngModelChange)="task && (task.title = $event)"
      #title="ngModel"
      required
    />
    <div *ngIf="title.invalid && title.touched" class="text-red-500 text-sm">
      Title is required.
    </div>
  </div>

  <div class="mb-4">
    <label for="description" class="block text-gray-700 font-bold mb-2"
      >Description</label
    >
    <textarea
      id="description"
      name="description"
      class="w-full px-3 py-2 border rounded"
      [ngModel]="task?.description"
      (ngModelChange)="task && (task.description = $event)"
      #description="ngModel"
      required
    ></textarea>
    <div
      *ngIf="description.invalid && description.touched"
      class="text-red-500 text-sm"
    >
      Description is required.
    </div>
  </div>

  <div class="mb-4">
    <label for="status" class="block text-gray-700 font-bold mb-2"
      >Status</label
    >
    <select
      id="status"
      name="status"
      class="w-full px-3 py-2 border rounded"
      [ngModel]="task?.status"
      (ngModelChange)="task && (task.status = $event)"
      #status="ngModel"
      required
    >
      <option *ngFor="let status of ['completed', 'pending']" [value]="status">
        {{ status }}
      </option>
    </select>
    <div *ngIf="status.invalid && status.touched" class="text-red-500 text-sm">
      Status is required.
    </div>
  </div>

  <div class="mb-4">
    <label for="assignedTo" class="block text-gray-700 font-bold mb-2"
      >Assigned To</label
    >
    <select
      id="assignedTo"
      name="assignedTo"
      class="w-full px-3 py-2 border rounded"
      [ngModel]="task?.assignedTo"
      (ngModelChange)="task && (task.assignedTo = $event)"
      #assignedTo="ngModel"
      required
    >
      <option *ngFor="let user of users" [value]="user">
        {{ user.username }} - {{ user.role }}
      </option>
    </select>
    <div
      *ngIf="assignedTo.invalid && assignedTo.touched"
      class="text-red-500 text-sm"
    >
      Assigned To is required.
    </div>
  </div>
  <div>
    <div type="submit" class="text-gray-700 text-sm mr-2 inline-block">
      <b>Created At:</b> {{task.createdAt}} <br />
      <b>Updated At:</b> {{task.updatedAt}}
    </div>
    <div class="float-right inline-block">
      <button
        type="submit"
        class="bg-blue-500 text-white px-4 py-2 mr-2 rounded hover:bg-blue-600 cursor-pointer"
        [disabled]="taskForm.invalid"
      >
        Save
      </button>
      <button
        type="button"
        class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 cursor-pointer"
        (click)="closeTaskModal()"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
